#name-field {
  width: 100%;
}

.name-field-conatiner {
  padding: 0 0 12.5px 0;
}

.password-input-label {
  position: relative;
}

.eye-password-icon {
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-size: 24px;
  cursor: pointer;
}

.eye-check-password-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.user-identification-form label > p {
  font-weight: 800;
  margin-bottom: 5px;
}

.user-identification-form section {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.user-identification-form section div {
  display: flex;
  width: 100%;
  padding: 12.5px 0;
}

.user-identification-form section div label {
  width: 50%;
}

.user-identification-form section div label:nth-child(1) {
  padding: 0 30px 0 0;
}

.user-identification-form section div label:nth-child(2) {
  padding: 0 0 0 30px;
}

.user-identification-form section div label input {
  width: 100%;
}

.next-btn-user-identification {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 25px;
}
