@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 50vw;
  background-color: #F8FAFB;
}

.text-fields {
  height: 35px;
  background: #F0F2F6;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  outline: 1px solid white;
}

.text-fields:hover {
  outline: 1px solid black;
  transition: all linear 500ms;
}

.next-btn {
  background-color: #5357B1;
  color: white;
  border: none;
  min-width: 200px;
  max-width: 250px;
  border-radius: 4px;
  padding: 15px 55px;
  cursor: pointer;
}

.previous-btn {
  background-color: #8C98A9;;
  color: white;
  border: none;
  min-width: 200px;
  max-width: 250px;
  border-radius: 4px;
  padding: 15px 55px;
  cursor: pointer;
}

.input-error {
  outline: 1.5px solid rgb(230, 77, 77);
}

.error-messages {
  font-size: 13px;
  color: rgb(230, 77, 77);
}

@media screen and (max-width: 840px) {
  .next-btn {
    width: 220px;
  }
  
  .previous-btn {
    width: 220px;
  }
}
